@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">bem vindo</h1>
    <p>Faça seu <a href="https://localhost:7100/Clientes/Create">cadastro</a>.</p>
</div>
